.header {
    height: 44vw;
    
    background: url('../../../assets/glass.svg');
    background-size: cover; 
    position: relative;
    overflow: hidden; 
}
.but{
    margin-top: 30px;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 50%);
    z-index: 1; 
}
.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px; 
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
    z-index: 2; 
}

.header-contents b,
.header-contents h4,
.header-contents p {
    margin-left: 0; 
    margin-right: 0; 
    padding-left: 0; 
    padding-right: 0; 
}



.header-contents b {
    color: white; 
    font-size: 1.2vw; 
    font-weight: bold; 
    text-transform: uppercase; 
    z-index: 3; 
}

.header-contents h4 {
    font-weight: 500;
    color: white;
  font-size: 40px;
}

.header-contents p {
    color: white;
    font-size: 1vw;
}

.header-contents button {
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background: #FFD050;
    font-size: max(1vw, 13px);
  
}

/* Media Queries */
@media (max-width: 1050px) {
    .header {
        height: 75vw;
    }
    .header-contents {
        max-width: 45%;
    }
}

@media (max-width: 750px) {
    .header-contents {
        max-width: 55%;
    }
    .header-contents h4{
        font-size: 25px;
    }
    .header-contents p {
        display: none;
    }
    .header-contents button {
        padding: 2vw 4vw;
    }
}
