/* Container for the People section */
.people-container {
    display: flex;
    justify-content: space-between; /* Ensures that content within the container is spaced out */
    margin: 4rem auto; /* Center the container and give it a top margin */
    background-color: #FBF6EA; /* Background color */
    padding: 0 2rem; /* Add padding to the left and right for additional space */
    max-width: 95%; /* Limits the width to 95% of the screen */
}

/* Text container for the testimonial heading */
.text-container {
    max-width: 50%;
}

/* Paragraph styling */
.people-container p {
    font-size: 15px;
}

/* Testimonial Title */
.testimonial-title {
    font-size: 1.25rem;
    font-weight: 600;
}

/* Testimonial Subtitle */
.testimonial-subtitle {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 0.5rem;
}

/* Description paragraph */
.testimonial-description {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 0.5rem;
}

/* Divider (border between sections) */
.divider {
    height: 16rem;
    border: 2px solid #B5B5B5; /* Gray border */
    margin: 2rem; /* Margin for spacing */
}

/* Testimonial text */
.testimonial-text {
    max-width: 50%;
}

/* Author info section */
.author-info {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 6rem;
}

/* Author name and location styling */
.author-location {
    font-size: 0.75rem;
    color: #6C6C6C;
}

/* Image for the author */
.author-info img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%; /* Circular image */
}
